<!DOCTYPE html>
<html>
<head>
    <title>Inspect</title>
    <link rel="stylesheet" href="/static/inspect.css">
</head>
<body>
    <div class="form-container">
        <h2>EnergyIntel</h2>
        <form action="/inspect" method="post">
            <label for="input1">Global Reactive Power:</label>
            <input type="text" id="input1" name="input1"><br><br>

            <label for="input2">Global Intensity:</label>
            <input type="text" id="input2" name="input2"><br><br>

            <label for="input3">Sub Metering 1:</label>
            <input type="text" id="input3" name="input3"><br><br>

            <label for="input4">Sub Metering 2:</label>
            <input type="text" id="input4" name="input4"><br><br>

            <label for="input5">Sub Metering 3:</label>
            <input type="text" id="input5" name="input5"><br><br>

            <input class="submit-button" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
